body {
  font-family: "Yu Gothic UI Bold","Yu Gothic UI";
}

header{
  background:linear-gradient(to bottom,#FFD5EC,white);
  height: 130px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

footer{
  background:linear-gradient(to top,#FFD5EC,white);
  height: 80px;
  width: 100%;
}

.title{
  font-family:cursive;
  text-align: left;
  display: inline-block;
  margin-left: 20px;
}

.title h1{
  font-size:50px;
  border: solid 5px;
  border-radius: 40%;
}

.menu{
  display: inline-block;
  float: right;
}

.tablet{
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 8;
  display: none;
}

.tablet-list{
  background:linear-gradient(to bottom,#FFD5EC,white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
}

.tablet-list.active{
  transform: translateY(0%);
}

.menu-icon{
  color: gray;
  text-align: right;
  font-size: 25px;
  padding: 21px 21px;
  margin-right: 30px;
}

.contents-list{
  color: black;
  cursor: pointer;
}

.list{
  margin: 0px 10px;
  display: inline-block;
}

.list a{
  text-decoration: none;
  color: gray;
}

.list a:hover{
  color: black;
  border-bottom: solid 1px;
}

.list span{
  font-size: 5px;
  display: none;
}

.contents-list-2{
  color: black;
  list-style: none;
  text-align: center;
  border-bottom: solid 1px gray;
}

.list-2{
  border-bottom: solid 1px gray;
  margin: 15px 30px 15px 0px;
  font-weight: bold;
  color: gray;
}

.list-2:first-child{
  margin-top: 70px;
}

.list-2:last-child{
  border: none;
}

.list-2 span{
  font-size: 5px;
}

.list-2 a{
  text-decoration: none;
  color: gray;
}

.main{
  margin-top: 250px;
}

.message{
  font-family: KodomoRounded;
  text-align: center;
  color: pink;
}

#slideshow {
   position: relative;
   height: 500px;
   width: 500px;
   margin: 0 auto;
   text-align: center;
   margin-top: 100px;
}
#slideshow img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 3;
   opacity: 0.0;
   height: 500px;
   width: 500px;
   max-height: 100%;
   max-width: 100%;
   border: solid 3px silver;
}
#slideshow img.active {
   z-index: 5;
   opacity: 1.0;
}
#slideshow img.last-active {
   z-index: 4;
}

.sns{
  text-align: center;
  padding: 10px 20px;
}

.insta_btn {
  display: inline-block;
  text-align: center;
  color: #2e6ca5;
  font-size: 20px;
  text-decoration: none;
}

.insta_btn .insta{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow: hidden;
  border-radius: 13px;
}

.insta_btn .insta:before{
  content: '';
  position: absolute;
  top: 23px;
  left: -18px;
  width: 60px;
  height: 60px;
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}

.insta_btn .fa-instagram {
  color: #FFF;
  position: relative;/
  z-index: 2;
  font-size: 35px;
  line-height: 50px;
}

.insta{
  margin-bottom: 30px;
}

.fa-line{
  font-size: 55px;
  color:#00B900;
  padding: 0px 2px;
}

.fa-facebook-square{
  font-size: 55px;
  color:#3C5A99;
  padding: 0px 2px;
}

.fa-twitter-square{
  font-size: 55px;
  color:#1DA1F2;
  padding: 0px 2px;
}

.over{
  color: gray;
  text-align: right;
  margin-right: 20px;
}

