@media all and (max-width: 670px){

  .contents-list{
    display: none;
  }

  .tablet{
    display: block;
  }

  .title h1{
    font-size: 25px;
    border: solid 2.5px;
  }

.main{
  margin-top: 150px;
}

.message{
  font-size: 9px;
}

  #slideshow{
    height: 300px;
    width: 300px;
  }

  #slideshow img{
    height: 200px;
    width: 200px;
    left: 45px;
  }
  
  .event h2{
    font-size: 99%;
  }

.event p{
  width: 90%;
}
  
}
